@model WebUI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="LITEBOND is an escrow investment, litecoin and multifunctional online platform based on blockchain technology. There investors have the opportunity to support the community money on mutually beneficial.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="~/Content/userpanel/images/favicon.ico">
    <!-- Site Title  -->
    <title>Reset Password - Escrowing Of Litecoin</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="~/Content/userpanel/css/vendor.bundle.css?ver=100">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/Content/userpanel/css/style.css?ver=100">
    <link href="~/Content/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

</head>

<body class="user-ath">

    <div class="user-ath-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 text-center">
                    <div class="user-ath-logo">
                        <a href="#">
                            <img src="~/Content/userpanel/images/favicon.ico" srcset="~/Content/userpanel/images/favicon.ico 2x" alt="icon">
                        </a>
                    </div>
                    <div class="user-ath-box">
                        <h4>Reset Password</h4>
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                        {

                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Code)
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <form action="#" class="user-ath-form">

                                <div class="input-item">

                                    @Html.TextBoxFor(m => m.Email, new { @class = "input-bordered", @placeholder = "Your Email" , @disabled = "disabled" })

                                </div>

                                <div class="input-item">

                                    @Html.PasswordFor(m => m.Password, new { @class = "input-bordered", @placeholder = "New Password" })
                                   
                                </div>

                                <div class="input-item">

                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-bordered", @placeholder = "Confirm New Password" })
                                   
                                </div>

                                <div class="gaps"></div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>

                                </div>
                            </form>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- JavaScript (include all script here) -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script src="~/Content/userpanel/jquery.bundle.js?ver=100"></script>
    <script src="~/Content/userpanel/script.js?ver=100"></script>

    <script src="~/Content/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/Scripts/apps/login.js"></script>
</body>
</html>
